 
DB_HOST = "192.168.100.106"
 DB_USER="root"
 DB_PASSWORD= 
 DB_PORT= 3306

 DB_PUBLICO    = "lps_publico" 
 DB_VENDAS     = "lps_vendas" 
 DB_ESTOQUE    = "lps_estoque"
 DB_FINANCEIRO = "lps_financeiro"
 DB_EVENTOS="lps_eventos_sistema"
EXCHANGE = "sistema"

BROKER_URL='amqp://localhost'

EMITIR_EVENTOS = 'S'